<%inherit file="/base.html"/>

<h3>IN PROGRESS</h3>
<ul>
    <li><a href="http://www.twitter.com/FOMOBot" target="_blank">FOMOBot (twitter bot)</a></li>
    <li><a href="/elsewhere/written/speak-neuron">Speak Neuron (book)</a></li>
    <li><a href="">Story Teller (web app)</a></li>
    <li><a href="/story_fork">Story fork (web app)</a></li>
    <li><a href="/elsewhere/zines/unfulfilled">Unfulfilled (interview zine)</a></li>
    <li><a href="/elsewhere/zines/either-way-he-thinks">Either way, he thinks (zine)</a></li>
</ul>

<h3>CONTINUING</h3>
<ul>
    <li><a href="http://blog.jehosafet.com" target="_blank">If we were focused consumers (blog)</a></li>
    <li><a href="http://heroesandbabies.wordpress.com" target="_blank">Heroes and babies and wasted time (job)</a></li>
    <li><a href="http://mobeetsforus.bandcamp.com/" target="_blank">Thu-jehosafet (music)</a></li>
</ul>

<h3>COMPLETE</h3>
<ul>
    <li><a href="/elsewhere/zines/and-inside-that">And Inside That (zine)</a></li>
    <li><a href="/morse_news">Morse news (web app)</a></li>
    <li><a href="http://www.youtube.com/watch?v=WWouYWZotiU" target="_blank">Pool party dance (video)</a></li>
    <li><a href="/elsewhere/zines/the-importance-of-university-education">The Importance of University Education (zine)</a></li>
    <li><a href="/elsewhere/comics/scene-from-an-australian-party">Scene from an Australian party (comic)</a></li>
    <li><a href="http://www.youtube.com/watch?v=9xuj75Ujgwc" target="_blank">Man Into Bird (video)</a></li>
    <li><a href="/elsewhere/comics/the-octopus">The Octopus (comic)</a></li>
    <li><a href="/elsewhere/comics/thinking-about-thinking">Thinking about thinking (comic)</a></li>
    <li><a href="/elsewhere/code/python-dot-art">Python dot art (random drawings)</a></li>
    <li><a href="/elsewhere/written/australian-phone-monologue">Australian phone monologue (play)</a></li>
    <li><a href="/blog_word_counts">Blog post words counts (web app)</a></li>
    <li><a href="http://wearesovictorian.tumblr.com" target="_blank">We are so Victorian (blog)</a></li>
</ul>

<br>
${contact}
