## -*- coding: utf-8 -*-
<%inherit file="/base.html"/>
<%block name="header">
    <link href="/static/css/cookies.css" media="screen, projection" rel="stylesheet" type="text/css">
</%block>

Rules <a href="http://sweets.seriouseats.com/2013/12/the-food-lab-the-best-chocolate-chip-cookies.html" style="color: black;">via The Food Lab</a>. More info <a href="https://github.com/mobeets/cookie-helper">here</a>.
<hr>
<div id="shell">
    <h1>
        <p id="option" class="unselectable">To make your chocolate chip cookies <span id="opt-text">MORE</span>...</p>
    </h1>
    <div id="nouns"></div>
    <div id="results">
        <div id="space"></div>
        <div id="result-title"></div>
        <p id="less-result"></p>
        <p id="more-result"></p>
    </div>
</div>
<script data-main="/static/js/cookies" src="static/require.js"></script>
