<link href='/static/css/pie-man.css' rel='stylesheet' type='text/css'>

<div id="title-frame">
    <img src="/media/pie-man/title.png">
    <span>
        (a poem for children)
    </span>
</div>
<hr>
<div id="frames">
    <img src="/media/pie-man/pie.png">
    <img src="/media/pie-man/man.png">
    <img src="/media/pie-man/tea.png">
    <img src="/media/pie-man/nap.png">
    <div id="border"></div>
    <img src="/media/pie-man/fly.png">
    <img src="/media/pie-man/cat-alone.png">
    <img src="/media/pie-man/tea-cat.png">
    <img src="/media/pie-man/die.png">
    <div id="border"></div>
    <img src="/media/pie-man/tea-spill.png">
    <img src="/media/pie-man/fly.png">
    <img src="/media/pie-man/ear.png">
    <img src="/media/pie-man/eye.png">
    <div id="border"></div>
    <img src="/media/pie-man/wha.png">
    <img src="/media/pie-man/wha-cat.png">
    <img src="/media/pie-man/hmm.png">
    <img src="/media/pie-man/pie-again.png">
</div>
